<li class="nav-header">
    <div class="dropdown profile-element">
        <img alt="image" class="rounded-circle" src="img/profile_small.jpg" />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">@ViewBag.v1  @ViewBag.v2</span>
            <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
            <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
            <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
            <li class="dropdown-divider"></li>
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Login" asp-action="Logout" asp-area="" method="post">
                        <button type="submit" class="dropdown-item">
                           Çıkış Yap
                        </button>
                    </form>
                }
            </li>
        </ul>
    </div>
    <div class="logo-element">
        IN+
    </div>
</li>