@model MovieSite.Areas.Admin.Models.CategoryViewModel
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .movie-item {
        border: 2px solid black;
        padding: 10px;
        text-align: center;
    }
</style>

<div class="movie-grid">
    @foreach (var item in Model.category)
    {
        <div class="movie-item">
            <h1><a href="~/Admin/CategoryList/CategoryDetails?id=@item.GenreID">@item.GenreName</a></h1>
        </div>
    }
</div>



